<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Productos</div>

                    <div class="card-body">

                      <a-button type="primary" @click="showModal">
                        Nuevo Producto
                        
                      </a-button>
                      <a-modal
                        title="Producto"
                        :visible="visible"
                        :confirm-loading="confirmLoading"
                        @ok="handleOk"
                        @cancel="handleCancel"
                      >
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Código</label>
                            <div class="col-md-9">
                              <input type="text" v-model="product.num_ref" class="form-control" placeholder="num_ref"  />
                              <span v-if="allerrors.num_ref" :class="['text-danger']">{{ allerrors.num_ref[0] }}</span>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                            <div class="col-md-9">
                              <input type="text" v-model="product.name" class="form-control" placeholder="Name"  />
                              <span v-if="allerrors.name" :class="['text-danger']">{{ allerrors.name[0] }}</span>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Cantidad</label>
                            <div class="col-md-9">
                              <input type="number" v-model="product.quantity" class="form-control" placeholder="Quantity"  />
                              <span v-if="allerrors.quantity" :class="['text-danger']">{{ allerrors.quantity[0] }}</span>
                            </div>
                          </div>
                      </a-modal>
                       
                     
                             <a-table  :columns="columns" :rowKey="record => record.id" :dataSource="data"
                              :pagination="pagination" :loading="loading" @change="handleTableChange" >

                           <div  slot="filterDropdown"
                                      slot-scope="{ setSelectedKeys, selectedKeys, confirm, clearFilters, column }"
                                      style="padding: 8px"
                                    >
                                      <a-input  v-ant-ref="c => searchInput = c"
                                        :placeholder="`Buscar ${column.title}`"                                              :value="selectedKeys[0]"
                                        @change="e => setSelectedKeys(e.target.value ? [e.target.value] : [])"
                                        @pressEnter="() => handleSearch(selectedKeys, confirm, column.dataIndex)"
                                        style="width: 188px; margin-bottom: 8px; display: block;"
                                      />
                                      <a-button type="primary" @click="() => handleSearch(selectedKeys, confirm, column.dataIndex)"
                                        icon="search" size="small" style="width: 90px; margin-right: 8px" >Buscar</a-button>
                                      <a-button @click="() => handleReset(clearFilters)"
                                        size="small"  style="width: 90px" >Reiniciar</a-button>
                                    </div>
                                    <a-icon  slot="filterIcon" slot-scope="filtered" type="search" :style="{ color: filtered ? '#108ee9' : undefined }"/>
                                  <span slot="edit" slot-scope="text, record">
                                      <a-button type="primary" @click="edit(record)" >  Editar </a-button>  
                                  </span>

                               
                            </a-table>
                              

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import esES from "ant-design-vue/es/locale-provider/es_ES";
export default {
  data() {
    return {
      allerrors: [],
      product: {},
      visible: false,
      confirmLoading: false,
      urlGetTable: "/api/products",
      data: [],
      locale: esES,
      loading: false,
      pagination: {
        showSizeChanger: true,
        current: 1,
        pageSize: 10
      },

      filteredInfo: {},
      sorter: {},
      order: "",
      columns: [
        {
          title: "Código",
          dataIndex: "num_ref",
          key: "num_ref",
          scopedSlots: {
            filterDropdown: "filterDropdown",
            filterIcon: "filterIcon",
            customRender: "num_ref"
          },
          onFilterDropdownVisibleChange: visible => {
            if (visible) {
              setTimeout(() => {
                this.searchInput.focus();
              }, 0);
            }
          }
        },
        {
          title: "Nombre",
          dataIndex: "name",
          key: "name",
          scopedSlots: {
            filterDropdown: "filterDropdown",
            filterIcon: "filterIcon",
            customRender: "name"
          },
          onFilterDropdownVisibleChange: visible => {
            if (visible) {
              setTimeout(() => {
                this.searchInput.focus();
              }, 0);
            }
          }
        },
        {
          title: "Cantidad",
          dataIndex: "quantity",
          key: "quantity"
        },
        {
          title: "",

          scopedSlots: { customRender: "edit" }
        }
      ]
    };
  },
  methods: {
    handleSearch(selectedKeys, confirm, dataIndex) {
      confirm();
      this.searchText = selectedKeys[0];
      this.searchedColumn = dataIndex;
    },
    handleReset(clearFilters) {
      clearFilters();
      this.searchText = "";
    },
    handleTableChange(pagination, filters, sorter) {
      this.filteredInfo = filters;
      const pager = { ...pagination };
      pager.current = pagination.current;
      pagination = pager;
      this.sorter = sorter;
      this.order = sorter.order == "descend" ? "desc" : "asc";
      this.pagination = pager;
      this.fetch({
        perPage: pagination.pageSize,
        page: pagination.current,
        sortField: this.sorter.field,
        sortOrder: this.order,
        ...filters
      });
    },
    fetch(params) {
      let _this = this;
      axios.get(_this.urlGetTable, { params }).then(response => {
        const pagination = { ...this.pagination };
        pagination.pageSize = parseInt(response.data.per_page);
        pagination.total = response.data.total;
        pagination.current = response.data.current_page;
        this.loading = false;
        this.data = response.data.data;

        this.pagination = pagination;
      });
    },
    showModal() {
      this.visible = true;
      this.product = {};
    },
    handleOk(e) {
      this.confirmLoading = true;
      let _this = this;

      if (this.product.id) {
        this.update();
      } else {
        this.create();
      }
    },
    create() {
      let _this = this;
      axios
        .post("/api/products", this.product)
        .then(response => {
          _this.confirmLoading = false;
          _this.handleTableChange(
            _this.pagination,
            _this.filteredInfo,
            _this.sorter
          );
          _this.$notification.open({
            message: "Mensaje",
            description: "Se ha creado el producto",
            duration: 0
          });
          _this.visible = false;
          _this.product = {};
        })
        .catch(error => {
          _this.confirmLoading = false;
          _this.allerrors = error.response.data.errors;
          console.log(error.response.data.errors);
        });
    },
    update() {
      let _this = this;
      axios
        .put("/api/products", this.product)
        .then(response => {
          _this.confirmLoading = false;

          _this.handleTableChange(
            _this.pagination,
            _this.filteredInfo,
            _this.sorter
          );
          _this.$notification.open({
            message: "Mensaje",
            description: "Se ha actualizado el producto",
            duration: 0
          });
          _this.visible = false;
          _this.product = {};
        })
        .catch(error => {
          _this.confirmLoading = false;

          _this.allerrors = error.response.data.errors;
          console.log(error.response.data.errors);
        });
    },
    handleCancel(e) {
      console.log("Clicked cancel button");
      this.visible = false;
    },
    edit(record) {
      this.product = record;
      this.visible = true;
    }
  },
  mounted() {
    let _this = this;
    this.handleTableChange(_this.pagination, _this.filteredInfo, _this.sorter);
  }
};
</script>
